/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/section/*
/public/images/user/*
.env
2017-12-06 50-dubai.jpg
Cropper.vue
/public/js/app.js