
/* --------------------------------------------- { TITLE } -------------------------------------------- */

/* ----------------------- */
/* || --base settings-- || */
/* ----------------------- */


/* xs */
.pos-bot-right-xs { position: absolute; bottom: $dist-xs; right: $dist-xs; }
.pos-bot-left-xs { position: absolute; bottom: $dist-xs; left: $dist-xs; }
.pos-top-right-xs { position: absolute; top: $dist-xs; right: $dist-xs; }
.pos-top-left-xs { position: absolute; top: $dist-xs; left: $dist-xs; }

/* sm */
.pos-bot-right-sm { position: absolute; bottom: $dist-sm; right: $dist-sm; }
.pos-bot-left-sm { position: absolute; bottom: $dist-sm; left: $dist-sm; }
.pos-top-right-sm { position: absolute; top: $dist-sm; right: $dist-sm; }
.pos-top-left-sm { position: absolute; top: $dist-sm; left: $dist-sm; }

/* md */
.pos-bot-right-md { position: absolute; bottom: $dist-md; right: $dist-md; }
.pos-bot-left-md { position: absolute; bottom: $dist-md; left: $dist-md; }
.pos-top-right-md { position: absolute; top: $dist-md; right: $dist-md; }
.pos-top-left-md { position: absolute; top: $dist-md; left: $dist-md; }

/* lg */
.pos-bot-right-lg { position: absolute; bottom: $dist-lg; right: $dist-lg; }
.pos-bot-left-lg { position: absolute; bottom: $dist-lg; left: $dist-lg; }
.pos-top-right-lg { position: absolute; top: $dist-lg; right: $dist-lg; }
.pos-top-left-lg { position: absolute; top: $dist-lg; left: $dist-lg; }

/* xl */
.pos-bot-right-xl { position: absolute; bottom: $dist-xl; right: $dist-xl; }
.pos-bot-left-xl { position: absolute; bottom: $dist-xl; left: $dist-xl; }
.pos-top-right-xl { position: absolute; top: $dist-xl; right: $dist-xl; }
.pos-top-left-xl { position: absolute; top: $dist-xl; left: $dist-xl; }


/* ----------------- */
/* || --classes-- || */
/* ----------------- */

/* -------------------------- */
/* || --class attaching -- || */
/* -------------------------- */

/* ------------------ */
/* || -- hovers -- || */
/* ------------------ */

/* ----------------------- */
/* || --media queries-- || */
/* ----------------------- */ 
